$type-scale: (
    phone: (
        50: 0.6rem,
        80: 0.7rem,
        100: 0.8rem,
        200: 0.9rem,
        300: 1.2rem,
        400: 1.6rem,
        500: 2.5rem,
        600: 3.5rem,
        650: 4.5rem,
        700: 5rem,
        800: 8rem,
        1000: 12rem,
    ),
    tablet: (
        80: 0.6rem,
        100: 1rem,
        200: 1.5rem,
        300: 2rem,
        400: 3rem,
        500: 6rem,
        600: 5rem,
        650: 10rem,
        700: 12rem,
        800: 16rem,
        1000: 15rem,
    ),
    laptop: (
        50: 0.5rem,
        80: 0.8rem,
        100: 1rem,
        200: 1.2rem,
        300: 1.3rem,
        400: 1.4rem,
        500: 1.5rem,
        600: 3rem,
        650: 5rem,
        700: 7rem,
        800: 12rem,
        1000: 23rem,
    ),
    desktop: (
        50: 0.5rem,
        80: 0.8rem,
        100: 1rem,
        200: 1.5rem,
        300: 1.7rem,
        400: 1.6rem,
        500: 1.5rem,
        600: 3rem,
        650: 5rem,
        700: 7rem,
        800: 16rem,
        1000: 34rem,
    ),
    largedesktop: (
        80: 1.6rem,
        100: 2rem,
        200: 2.2rem,
        300: 2.4rem,
        400: 2.4rem,
        500: 3.5rem,
        600: 5rem,
        650: 8rem,
        700: 14rem,
        800: 24rem,
        1000: 36rem,
    ),
    fourkdesktop: (
        80: 1.6rem,
        100: 3rem,
        200: 2rem,
        300: 2.4rem,
        400: 3rem,
        500: 4rem,
        600: 5rem,
        650: 10rem,
        700: 14rem,
        800: 32rem,
        1000: 62rem,
    ),
);
