@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --fs-50: 0.6rem;
  --fs-80: 0.7rem;
  --fs-100: 0.8rem;
  --fs-200: 0.9rem;
  --fs-300: 1.2rem;
  --fs-400: 1.6rem;
  --fs-500: 2.5rem;
  --fs-600: 3.5rem;
  --fs-650: 4.5rem;
  --fs-700: 5rem;
  --fs-800: 8rem;
  --fs-1000: 12rem;
}
@media only screen and (min-width: 1024px) {
  :root {
    --fs-80: 0.6rem;
    --fs-100: 1rem;
    --fs-200: 1.5rem;
    --fs-300: 2rem;
    --fs-400: 3rem;
    --fs-500: 6rem;
    --fs-600: 5rem;
    --fs-650: 10rem;
    --fs-700: 12rem;
    --fs-800: 16rem;
    --fs-1000: 15rem;
  }
}
@media only screen and (min-width: 1181px) {
  :root {
    --fs-50: 0.5rem;
    --fs-80: 0.8rem;
    --fs-100: 1rem;
    --fs-200: 1.2rem;
    --fs-300: 1.3rem;
    --fs-400: 1.4rem;
    --fs-500: 1.5rem;
    --fs-600: 3rem;
    --fs-650: 5rem;
    --fs-700: 7rem;
    --fs-800: 12rem;
    --fs-1000: 23rem;
  }
}
@media only screen and (min-width: 1680px) {
  :root {
    --fs-50: 0.5rem;
    --fs-80: 0.8rem;
    --fs-100: 1rem;
    --fs-200: 1.5rem;
    --fs-300: 1.7rem;
    --fs-400: 1.6rem;
    --fs-500: 1.5rem;
    --fs-600: 3rem;
    --fs-650: 5rem;
    --fs-700: 7rem;
    --fs-800: 16rem;
    --fs-1000: 34rem;
  }
}
@media only screen and (min-width: 2560px) {
  :root {
    --fs-80: 1.6rem;
    --fs-100: 2rem;
    --fs-200: 2.2rem;
    --fs-300: 2.4rem;
    --fs-400: 2.4rem;
    --fs-500: 3.5rem;
    --fs-600: 5rem;
    --fs-650: 8rem;
    --fs-700: 14rem;
    --fs-800: 24rem;
    --fs-1000: 36rem;
  }
}
@media only screen and (min-width: 3840px) {
  :root {
    --fs-80: 1.6rem;
    --fs-100: 3rem;
    --fs-200: 2rem;
    --fs-300: 2.4rem;
    --fs-400: 3rem;
    --fs-500: 4rem;
    --fs-600: 5rem;
    --fs-650: 10rem;
    --fs-700: 14rem;
    --fs-800: 32rem;
    --fs-1000: 62rem;
  }
}

body {
  font-family: "Roboto";
  background-color: #ffffff;
  user-select: none;
}

.form__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 40%;
  height: auto;
  width: 30%;
  background-color: hsl(0deg, 0%, 93%);
  border: none;
  border-top: 2px solid #06874e;
  padding: 3em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1680px) and (max-width: 2559px) {
  .form__container {
    width: 30%;
  }
}
@media (min-width: 601px) and (max-width: 1180px) {
  .form__container {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .form__container {
    width: 90%;
  }
}

.form {
  border: none;
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: var(--fs-600);
  font-weight: 600;
  margin: 0 auto;
}

.form__input-container {
  height: 35%;
  display: block;
}

.form__input--label,
.form__input {
  display: block;
  outline-width: 0;
}

.form__input--label {
  font-weight: 600;
  font-size: var(--fs-200);
  margin-bottom: 2rem;
}

.form__input {
  width: 100%;
  height: 2em;
  border: 1px solid #333333;
  margin-top: 0.3rem;
  font-size: var(--fs-300);
  padding-left: 1rem;
}

.error-span {
  color: red;
  font-style: italic;
  font-weight: 400;
  right: 1rem;
  height: 3rem;
  position: absolute;
  margin-top: 0.5rem;
  visibility: hidden;
}

.form__input:invalid[focused=true] {
  border: 1px solid red;
}

.form__input:invalid[focused=true] ~ .error-span {
  visibility: visible;
}

.form__checkbox-container {
  position: relative;
  cursor: pointer;
  padding-left: 0.3rem;
  margin-bottom: 12px;
  font-size: 22px;
  user-select: none;
}
.form__checkbox-container input {
  cursor: pointer;
}

.form__checkbox-container:hover .form__custom-checkbox {
  background-color: hsl(0deg, 0%, 53%);
}

.form__checkbox-container input:checked ~ .form__custom-checkbox {
  background-color: #06874e;
}
.form__checkbox-container input:checked ~ .form__custom-checkbox::after {
  display: block;
  left: 0.3rem;
  top: 0.05rem;
  width: 0.2rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
@media (min-width: 3840px) {
  .form__checkbox-container input:checked ~ .form__custom-checkbox::after {
    width: 0.3rem;
    height: 0.8rem;
    border-width: 0 3px 3px 0;
    left: 0.45rem;
    top: 0.1rem;
  }
}

.form__checkbox--label {
  font-weight: 600;
  font-size: var(--fs-200);
  margin-left: 1rem;
}
@media (min-width: 3840px) {
  .form__checkbox--label {
    margin-left: 2rem;
  }
}

.form__checkbox {
  vertical-align: bottom;
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.form__custom-checkbox {
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  border: 1px solid #333333;
  cursor: pointer;
}
@media (min-width: 3840px) {
  .form__custom-checkbox {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.form__custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
}

.form__submit {
  font-size: var(--fs-300);
  font-weight: 600;
  color: #ffffff;
  background-color: #06874e;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.form__text-button,
.form__text-button-label {
  margin: 0 auto;
  font-size: var(--fs-200);
}

.form__text-button {
  border: none;
  background: none;
  text-decoration: underline;
  font-weight: 600;
  width: auto;
  cursor: pointer;
}